.container-all-listings {
    margin-top: 100px;
    z-index: 9998;
    padding: 0px;
    
    .filter-section{
        max-height: auto;
    }
    .filter-header{
        display:block;
    }
    select.form-control{
        width:100%;
    }
    // h1{
    //     text-align: center;
    //     font-weight: bolder;
    //     font-size: 48px;
    //     padding-bottom: 100px;
    // }
    h3{
        font-size: 16px;
    }
    .listing {
        position: relative;
        margin-bottom: 20px;
        hr{
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
        .p-username{
            font-weight:bold;
        }
        .card-body{
            padding:10px;
            height:72px;
            text-align: center;
            .p-listing_name{
                font-weight: bold;
            }
        }
        .card-expiry {
            text-align: right;
            background-color:#D4E5D2;
            margin:0;
            .p-listing-expiry{
                padding: 10px;
            }
        }
        .card-img{
            // max-height: 5000px;
            object-fit: cover
        }
        a {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}

