#show-all-event-page {

    height: 96vh;
    .entire-container {
      padding-top: 15vh;
    }

  }
  
  


  .background_image{
    background-size: 100%;
  }


  .arrow {
    padding-top:100px;
  }
  