#show-all-event-page {

    height: max;
    overflow: hidden;

  }
  
  


  .background_image{
    background-size: cover;
  }


  .arrow {
    padding-top:100px;
  }
  
  .container-all-events {
    margin-top: 160px;
    z-index: 9998;
    .filter-section{
        max-height: auto;
    }
    .filter-header{
        display:block;
    }
    select.form-control{
        width:100%;
    }

    .event {
        position: relative;
        margin-bottom: 10px;
    }
}

h3 {
  color:black;
  font-weight: bold;
}