#site-header {    
    .navbar {
        padding: 20px 0;
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        img {
            max-width: 40px;
            height: auto;
            margin-left: 30px;
        }
    }

    .nav-item {
        padding-left: 10px;
        padding-right:10px;
    }

}


// .sticky {
//     position: fixed;
//     width: 100vw;
//     top: 0; /* required */
//     background-color: lightgrey;
  
//   }
  

  /*extra cause the loging seems not working*/
  .nav-item {
      list-style-type: none;
  }