#site-header {   
    z-index: 9999; 
    .navbar {
        padding: 20px 0;
        max-height:100px; 
    }
    .container{
        margin-top: 0
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        img {
            max-width: 40px;
            height: auto;
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    .nav-item {
        padding-left: 10px;
        padding-right:10px;
    }

    #profile-dropdown {
        margin-right: 0;
    }

}



.sticky {
    position: fixed;
    width: 100vw;
    top: 0; /* required */
    background-color: lightgrey;
  
  }
  

  /*extra cause the loging seems not working*/
  .nav-item {
      list-style-type: none;
  }

  
  
